{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-embed"],
  "embeddedLanguages": [
    {
      "name": "html",
      "tags": ["html", "css"],
      "parser": "html"
    }
  ]
}
